.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgb(85 85 85);
    opacity: 0;
    display: flex;
    gap: 0.6rem;
}

.toolbar.isEntering {
    animation: fade-in 1s forwards;
}
.toolbar.isLeaving {
    animation: fade-out 1s forwards;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

.paintColorButton {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
}
/* Note: this is to the hide the transition of the paintColorMenu */
.paintColorButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 5rem;
    background-color: rgb(85 85 85);
    z-index: -1;
}

.paintColorButton:hover {
    border-color: orange;
    cursor: pointer;
}
.paintColorButton.selected {
    border-color: orange;
}

.paintColorMenu {
    position: absolute;
    bottom: -25rem;
    left: 0;
    padding: 1rem;
    background-color: rgb(85 85 85);
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    opacity: 0.1;
    transition: all 400ms;
    z-index: -2;
}

.paintColorMenu.open {
    opacity: 1;
    bottom: 5.5rem;
}