.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(85 85 85 / 0.8);
    opacity: 0;
    display: flex;
    gap: 0.6rem;
}

.toolbar.isEntering {
    animation: fade-in 1s forwards;
}
.toolbar.isLeaving {
    animation: fade-out 1s forwards;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

.paint {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
}
.paint:hover {
    border-color: orange;
    cursor: pointer;
}
.paint.selected {
    border-color: orange;
}
