.menu {
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin: 10px;
    font-size: 20px;
    line-height: 20px;
    font-family: sans-serif;
}

.menuItem {
    text-transform: uppercase;
    text-shadow: 0 0 3px black;
}

.menuItem + .menuItem::before {
    content: '|';
    padding: 0 6px;
    color: grey;
    text-shadow: none;
}

a:link,
a:visited {
    color: white;
}

a:hover {
    color: orange;
}

a:link, a:visited {
    text-decoration: none;
}