.menuWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    padding: 0.5rem;
    background-color: #555555;
}

.menuButton {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
}

/* Note: this is to the hide the transition of the dropDownMenu */
.menuButton::before {
    content: '';
    position: absolute;
    top: -1.1rem;
    left: -0.6rem;
    width: 7rem;
    height: 4rem;
    background-color: rgb(85 85 85);
    z-index: -1;
}

.menuButton:hover {
    border-color: orange;
    cursor: pointer;
}
.menuButton.selected {
    border-color: orange;
}

.menuItem {
    text-transform: uppercase;
}

.dropDownMenu {
    position: absolute;
    top: -25rem;
    left: 0;
    padding: 1rem;
    background-color: rgb(85 85 85);
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    opacity: 0.1;
    transition: all 400ms;
    z-index: -2;
}

.dropDownMenu.open {
    opacity: 1;
    top: 4.5rem;
}

.menuItem.selected {
    color: orange;
}

a.menuItem:first-child::after,
a.menuItem:last-child::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
}

a.menuItem:first-child::after {
    margin-top: 0.5rem;
    border-bottom: 1px solid black;
}

a.menuItem:last-child::before {
    margin-bottom: 0.75rem;
    border-top: 1px solid black;
}

.menuHeading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 400ms;
}

.menuHeading.show {
    opacity: 1;
}