.playAgainButton-container {
    position: absolute;
    bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playAgainButton-button {
    font-size: 2.5rem;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #555;
}

.playAgainButton-button:hover {
    color: orange;
    border: 2px solid orange;
}

